<html>
    <head>
        <link rel="stylesheet" href="http://szimek.github.io/signature_pad/css/signature-pad.css">
        <script type="text/javascript" src="{{ asset('assets/vendor/signature_pad/signature_pad.js') }}"></script>
    </head>
    <body>
        <div id="signature-pad" class="m-signature-pad">
            <div class="m-signature-pad--body">
              <canvas></canvas>
            </div>
            <div class="m-signature-pad--footer">
              <div class="description">Sign above</div>
              <button type="button" class="button clear" data-action="clear">Clear</button>
              <button type="button" class="button save" data-action="save">Save</button>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    </body>
</html>