<html>
    <head>
        <script src="{{ asset('assets/vendor/pdfviewer/dist/pdfviewer.js') }}"></script>
    </head>
    <div id="pdf" style="width: 500px; height: 500px;">
        
    </div>
    <script type="text/javascript">
        new PdfViewer({pdfUrl: 'http://ubuntu.dev/signature/web/pdf/pdf.pdf', staticHost: '{{ path('pdf') }}'}).embed(document.getElementById('pdf'))
    </script>
</html>